
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

main {
  text-align: center;
  padding: 20px;
}

.welcome-section {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #116181;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer p {
  margin: 0;
}
